.smallAvatar{
  width: 1.7rem!important;
  height: 1.7rem!important;
}

.fullUser{
  border: 1px #DBDBDB solid;
  display: flex!important;
  flex-direction: row!important;
}

.threadContent{
  width: 500px;
}

.fullUser span{
  $height: 40px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.bigAvatar{
  margin-right: 1rem!important;
  width: 40px;
  height: 40px;
}
